.card {
    background: rgba(255,255,255,0.03);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 30px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover{
    transform: translateY(-8px);
    border-color: rgba(96,165,250,0.5);
    box-shadow: 0 15px   35px rgba(0, 0, 0, 0.4);
}

.tags{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.95rem;
    font-weight: 600;
    color: #2984f2;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.card-title{
    font-size: 1.5rem;
    margin: 15px 0 10px 0;
    color: white;
}

.card-description{
    color: #e2ebf8;
    font-size: 0.95rem;
    line-height: 1.6;;
}
